#logo {
  padding: 2% 0 0 2%;
  height: 150px;
  text-align: center;
  background-color: #f1eae0;
}
#logo img {
  height: 50%;
}

.contact {
  width: 100%;
  margin: 0 auto 2em;
  background-color: #f1eae0;
  padding: 3%;
}

.contact h3 {
  margin-top: 0;
  font-weight: 600;
  font-size: 300%;
}

.contact p,
.contact a {
  text-decoration: none;
  color: #8db5ad;
  font-size: 1.3em;
  text-align: center;
  margin-top: 2em;
}

.contact a {
  display: block;
  margin-left: auto;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 90%;
}

label {
  margin-bottom: 5px;
  color: #8db5ad;
}

input,
textarea {
  border: 2px solid #8db5ad;
  margin-bottom: 25px;
  padding: 10px;
  transition: 0.5s ease;
}

input[type="submit"] {
  width: 100%;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  border: 2px solid #e93119;
}

@media (min-width: 768px) {
  .contact {
    width: 90%;
  }
  form {
    width: 50%;
  }
  #logo {
    text-align: left;
    background-color: white;
  }
  #logo img {
    height: 100%;
  }
}

@media (min-width: 992px) {
  .contact {
    width: 75%;
  }
  form {
    width: 400px;
  }
}

@media (min-width: 1400px) {
  .contact {
    width: 60%;
  }
}
